/* Div for Text Mode. */

.top-left{
    position: fixed;
    left: 5px;
    top:5px;
}
.top-right{
    position: fixed;
    right:5px;
    top:5px;
}
.bottom-left{
    position: fixed;
    left: 5px;
    bottom: 5px;
}
.bottom-right{
    position: fixed;
    right:5px;
    bottom: 5px;
}

.footer-tm>div{
    display: inline;
    font-size: 0px;
}
/* Box For footers */
.box{
    margin: 0px;
    /* margin-right: -5px; */
    padding: 0px;
    height: 5vw;
    width: 5vw;
    display: inline-block;
    border: 1px solid white;
}
.box-red{
    background-color: red;
    border-color: red;
}
.box-green{
    background-color: green;
    border-color: green;
}
.box-yellow{
    background-color: yellow;
    border-color: yellow;
}
.box-blue{
    background-color: blue;
    border-color: blue;
}
.box-b-yellow{
    border-color: yellow;
}
.box-b-blue{
    border-color: blue;
}

img.logo{
    height: 10vw;
    width:  10vw;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}


.data{
    font-size: 10vh;
    text-align: center;
}

.hidden{
    display: none !important;
    height: 0px !important;
    z-index: 0;
}

body{
    overflow: hidden;
}


img.donation_user{
    height: 10vw;
    width: 10vw;
    align-self: center;
}

/* Donation */
.media{
    display: flex;
}
.media>img{
    height: 10vw;
    width: 10vw;
    min-height: 150px;
    min-width: 150px;
    align-items: flex-start;
    margin-right: 15px;
}
.media-body{
    align-self: stretch;
}
*{
    font-family: 'Montserrat';
}
.center{
    text-align: center;
    font-style: italic;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.d-name{
    margin-bottom: 0px;
    margin-left: -10px;
    margin-top: 0px;
    font-size: 7vh;
    font-weight: bolder;
}

.d-amount{
    margin-top: 5px;
    font-size: 10vh;
    font-weight: lighter;
}

.d-box{
    padding: 30px;
    border: 1px solid black;
    border-radius: 50px;
}

.font-small{
    font-size: 5vh;
}

.font-large{
    font-size: 8vh;
}

.font-mid{
    font-size: 6.5vh;
}

#f-video {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: 5;
}